In [7]:
import pandas as pd 
from sqlalchemy import create_engine
from api_key import PASSWORD

engine = create_engine(f'postgresql://postgres:{PASSWORD}@localhost:5432/league_of_legends_db')
connection = engine.connect()
csv_data = pd.read_csv('../data/current_season_first_30.csv')

In [6]:
csv_data.to_sql(name='self_data',con=engine, if_exists='replace')
data = pd.read_sql('select * from self_data',connection)
data

,index,allInPings,assistMePings,assists,baitPings,baronKills,basicPings,bountyLevel,champExperience,champLevel,...,turretTakedowns,turretsLost,unrealKills,visionClearedPings,visionScore,visionWardsBoughtInGame,wardsKilled,wardsPlaced,win,matchID
0,0,0,14,12,0,0,0,1,8895,12,...,4,1,0,0,28,1,3,1,True,NA1_4528131778
1,1,0,2,5,0,0,0,0,14139,15,...,1,6,0,0,21,4,2,4,False,NA1_4528097313
2,2,0,6,11,0,0,0,0,13302,15,...,0,4,0,1,21,5,3,4,True,NA1_4528076873
3,3,0,3,11,0,1,0,0,15970,16,...,0,10,0,0,16,6,1,4,False,NA1_4527731624
4,4,0,2,8,0,1,0,14,17951,17,...,3,3,0,0,32,3,4,4,True,NA1_4527516276
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,0,9,21,0,0,0,0,16717,17,...,2,6,0,0,37,3,8,4,True,NA1_4503186198
96,96,0,4,7,0,0,0,6,10751,13,...,5,0,0,0,21,1,1,2,True,NA1_4503158306
97,97,1,1,12,0,0,0,0,11609,14,...,0,8,0,0,21,5,2,9,False,NA1_4503112383
98,98,0,1,6,0,0,0,0,5061,9,...,0,0,0,0,7,0,1,3,True,NA1_4502822762
99,99,3,16,16,0,0,0,0,17425,17,...,2,10,0,0,38,6,0,18,False,NA1_4502777688